<div class="main-content">

    <div class="student-dashboard">
        <div class="student-dashboard-top">
            <span class="shadow-lg bg-danger">
                <div>
                    <fa-icon [icon]="faBook" [fixedWidth]="true"></fa-icon>
                    <span>
                        <h1>33</h1>
                        <p>EXAMINATIONS</p>
                    </span>
                </div>
                <p>Total number of pasqo you've solved</p>
            </span>
            <span class="shadow-lg bg-success">
                <div>
                    <fa-icon [icon]="faBook" [fixedWidth]="true"></fa-icon>
                    <span>
                        <h1>37/40</h1>
                        <p>SOFTWARE ENGINEERING</p>
                    </span>
                </div>
                <p>Overall best score</p>
            </span>
            <!-- <span class="shadow-lg bg-info">
                <div>
                    <fa-icon [icon]="faBook" [fixedWidth]="true"></fa-icon>
                    <span>
                        <h1>33</h1>
                        <p>EXAMINATIONS</p>
                    </span>
                </div>
                <p>Total number of pasqo answered</p>
            </span> -->
        </div>
        <br>
        <br>

        <h3 class="table-title bg-info">Score List</h3>
        <div class="score-table-container shadow-lg">
            <table class="table">
                <thead class="my-thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Course</th>
                        <th scope="col">Exam Title</th>
                        <th scope="col">Year</th>
                        <th scope="col">Score</th>
                        <th scope="col">Time Taken</th>
                        <th scope="col">Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>