<div class="main-content">

    <div class="main-table-container">

        <div class="my-table-container shadow-sm">
            <div>
                <h3 class="table-title">COURSES</h3>
                <span class="create-new shadow-sm" (click)="createCourse()">Create New</span>
            </div>
            <br>
            <br>
            <table class="table">
                <thead class="thead-light">
                    <th></th>
                    <th>
                        <input type="text" size="50" class="search-by" placeholder="Filter by name"
                            [(ngModel)]="courseFilter.Name">
                    </th>
                    <th>
                        <input type="text" size="50" class="search-by" placeholder="Filter by programme"
                            [(ngModel)]="courseFilter.Programme.Name">
                    </th>
                    <th></th>
                </thead>
                <thead class="my-thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" width="600px">Name</th>
                        <th scope="col" width="500px">Programme</th>
                        <th scope="col" class="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let course of courses | filterBy:courseFilter | paginate: {itemsPerPage: 10, currentPage: pageNumber} let i=index;">
                        <th>{{i+1}}</th>
                        <td>
                            {{course.Name}}
                        </td>
                        <td>
                            {{course.Programme?.Name}}
                        </td>
                        <td class="actions">
                            <fa-icon [icon]="faEye" [fixedWidth]="true"></fa-icon>
                            <fa-icon [icon]="faEdit" [fixedWidth]="true" class="mid-icon"
                                (click)="updateCourse(course.Id)"></fa-icon>
                            <fa-icon [icon]="faTrashAlt" [fixedWidth]="true" class="last-icon"
                                (click)="delete(course.Id)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <pagination-controls class="pagination-controls" (pageChange)="pageNumber = $event" [autoHide]="true">
            </pagination-controls>
            <br>
            <span class="empty-search" *ngIf="(courses | filterBy:courseFilter).length === 0">
                No courses matches your search! <br> Did you type the right <b>name</b> or <b>programme</b>???
            </span>
        </div>

    </div>


</div>