<div class="main-content">
    <div class="main-table-container">

        <div class="my-table-container">

            <div>
                <h3 class="table-title">EXAMINATIONS</h3>
                <span class="create-new shadow-sm" (click)="createExam()" *ngIf="!isStudent">Create New</span>
            </div>
            <br>
            <br>
            <table class="table">

                <thead class="thead-light">
                    <th>
                    </th>
                    <th>
                        <input type="text" size="25" class="search-by" placeholder="Filter by title"
                            [(ngModel)]="examFilter.Title">
                    </th>
                    <th *ngIf="isRootAdmin">
                        <input type="text" size="30" class="search-by" placeholder="Filter by school"
                            [(ngModel)]="examFilter.School.Name">
                    </th>
                    <th>
                        <input type="text" size="25" class="search-by" placeholder="Filter by programme"
                            [(ngModel)]="examFilter.Programme.Name">
                    </th>
                    <th>
                        <input type="text" size="20" class="search-by" placeholder="Filter by course"
                            [(ngModel)]="examFilter.Course.Name">
                    </th>
                    <th>
                        <input type="text" size="10" class="search-by" placeholder="year-month"
                            [(ngModel)]="examFilter.Year">
                    </th>
                    <th *ngIf="!isStudent">
                    </th>
                </thead>
                <thead class="my-thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col" *ngIf="isRootAdmin">School</th>
                        <th scope="col">Programme</th>
                        <th scope="col">Course</th>
                        <th scope="col" width="100px" class="actions">Year</th>
                        <th scope="col" class="actions" *ngIf="!isStudent">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let exam of exams | filterBy: examFilter | paginate: {itemsPerPage: 10, currentPage: pageNumber} let i=index;">
                        <td> {{ i+1 }} </td>
                        <td> {{ exam.Title }} </td>
                        <td *ngIf="isRootAdmin"> {{ exam.School?.Name }} </td>
                        <td> {{ exam.Programme?.Name }} </td>
                        <td> {{ exam.Course?.Name }} </td>
                        <td class="actions"> {{ exam.Year | date }} </td>
                        <td class="actions" *ngIf="!isStudent">
                            <fa-icon [icon]="faEye" [fixedWidth]="true" (click)="viewExam(exam.Id)"></fa-icon>
                            <fa-icon [icon]="faEdit" [fixedWidth]="true" class="mid-icon" (click)="updateExam(exam.Id)">
                            </fa-icon>
                            <fa-icon [icon]="faTrashAlt" [fixedWidth]="true" class="last-icon"
                                (click)="delete(exam.Id)">
                            </fa-icon>
                        </td>
                    </tr>
                </tbody>

            </table>
            <br>
            <br>
            <pagination-controls class="pagination-controls" (pageChange)="pageNumber = $event" [autoHide]="true">
            </pagination-controls>
            <br>
            <span class="empty-search" *ngIf="(exams | filterBy:examFilter).length === 0">
                No exam matches your search! <br> Did you type the right <br>
                <b>title</b>,<b>school</b>,<b>programme</b>,<b>course</b>, or <b>year</b>???
            </span>

        </div>

    </div>
</div>