<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title>Achievements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Total Tests taken:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Test Passed:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tests Completed:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tests Pending:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tests</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
