.main {
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hero {
    height: 550px;
    background-color: #40844e;
    padding: 0 10em;
}
.welcome-info {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 90px 0;
    margin-right: 0px;
    color: white;
    /* border: 1px solid black; */
}
.welcome-info h1 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 3.6em;
}
.welcome-info p {
    font-family: Roboto;
    font-size: 1.7em;
    font-weight: 500;
}
.welcome-info .call-to-action {
    height: 80px;
    width: 772px;
    border: 1px solid transparent;
}
.welcome-info .call-to-action p {
    color: #1c5728;
    font-size: 1.8em;
    font-style: italic;
    display: inline-block;
    background-color: #fff;
    margin-bottom: -10px;
    padding: 18px 35px;
    padding-left: 42px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.welcome-info .call-to-action button {
    float: right;
    font-weight: 700;
    color: white;
    font-size: 2em;
    background-color: #9e4f8f;
    padding: 13px 36px 17px 36px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    transition: ease-in-out 0.3s;
}
.welcome-info .call-to-action button:hover {
    background-color: #974187;
    transition: ease-in-out 0.3s;
}

.undraw-svg-img {
    float: right;
    height: 100%;
    width: 45%;
    padding-top: 30px;
    padding-left: -30px;
    /* margin-top: 30px; */
    /* border: 1px solid black; */
}

/*Styles for main home-page body*/

.section-1 {
    width: 100%;
    height: 600px;
    padding: 80px 10em;
    color: #575153;
    /* border: 1px solid black; */
}
.question {
    color: #575153;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 3em;
    font-weight: 700;
}
.section-1 div {
    margin: auto;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    text-align: center;
    /* border: 1px solid black; */
}
.section-1 div span {
    height: 300px;
}
.section-1 div span p {
    font-size: 1.4em;
}
.fa-icon {
    font-size: 3em;
}

.section-2 {
    width: 100%;
    height: 700px;
    padding: 90px 10em;
    color: #575153;
    background-color: #eaf5f2;
    /* border: 1px solid black; */
}
.section-2 span {
    display: inline-block;
    height: 100%;
    width: 45%;
    /* border: 1px solid black; */
}
.section-2 .span2 {
    float: right;
    text-align: center;
    padding: 10px 20px 10px 0;
}
.section-2 .span2 p {
    font-size: 1.5rem;
    line-height: 50px;
}

.section-3 {
    width: 100%;
    height: 750px;
    padding: 90px 10em;
    color: #575153;
}
.section-3 span {
    display: inline-block;
    height: 100%;
    width: 48%;
    /* border: 1px solid black; */
}
.section-3 .span2 {
    float: right;
}
.section-3 .span1 {
    padding: 0 0 10px 20px;
    text-align: center;
}
.section-3 .span1 p {
    font-size: 1.5rem;
    line-height: 50px;
}

.section-4 {
    width: 100%;
    height: 700px;
    padding: 90px 10em;
    color: #575153;
    background-color: #eaf5f2;
    /* border: 1px solid black; */
}
.section-4 span {
    display: inline-block;
    height: 100%;
    width: 45%;
    /* border: 1px solid black; */
}
.section-4 .span2 {
    float: right;
    text-align: center;
    padding: 10px 30px 10px 0;
}
.section-4 .span2 p {
    font-size: 1.5rem;
    line-height: 50px;
}

.section-5 {
    width: 100%;
    height: 750px;
    padding: 100px 10em;
    color: #575153;
}
.section-5 span {
    display: inline-block;
    height: 100%;
    width: 45%;
    /* border: 1px solid black; */
}
.section-5 .span2 {
    float: right;
    margin-right: 120px;
}
.section-5 .span1 {
    padding: 0 0 10px 10px;
    text-align: center;
}
.section-5 .span1 p {
    font-size: 1.5rem;
    line-height: 50px;
}


/* Footer Section styles */

footer {
    width: 100%;
    height: 10vh;
    color: #aaaaaa;
    font-size: 1.2em;
    font-weight: 500;
    background-color: #313131;
    border-top: dashed #5a5a5a 1px;
}
footer div {
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid white; */
}
footer div .made-by {
    float: right;
}
footer div .made-by a {
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    color: #aaaaaa;
}
footer div .made-by a:hover {
    color: #ffffff;
}

.footer-hero {
    width: 100%;
    height: 70vh;
    padding-top: 150px;
    padding-bottom: 450px;
    color: #aaaaaa;
    background-color: #313131;
}
.footer-hero .inner-footer-hero {
    width: 80%;
    height: 80%;
    margin: auto;
    /* border: 1px solid white; */
}
.footer-hero .inner-footer-hero .footer-hero-content-container {
    display: grid;
    grid-template-columns: 40% 45%;
    column-gap: 15%;
    width: 50%;
    height: 100%;
    margin: auto;
    /* border: 1px solid white; */
}
/* .footer-hero-content-container span {
    border: 1px solid white;
} */
.footer-hero-content-container span .footer-hero-content-title {
    color: white;
    font-weight: 700;
}
.footer-hero-content-container span p {
    font-size: 1.3em;
    font-weight: 500;
}
.footer-hero-content-container span p a {
    color: #aaaaaa;
    text-decoration: none;
}
.footer-hero-content-container span p a:hover {
    color: white;
}
