<div class="main-content">

    <!-- hello there -->
    <div class="my-table-container shadow-sm">
        <div>
            <h3 class="table-title">USERS</h3>
            <span class="create-new shadow-sm" (click)="CreateUser()">Create New</span>
        </div>
        <br>
        <br>
        <div></div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th width="40px">
                        <input type="text" size="30" class="search-by" placeholder="Filter by school"
                            [(ngModel)]="userFilter.School.Name">
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="my-thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">School</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let user of users | filterBy: userFilter | paginate: {itemsPerPage: 10, currentPage: pageNumber} let i=index;">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ user.Name }}</td>
                    <td>{{ user.UserName }}</td>
                    <td>{{ user.School?.Name }}</td>
                    <td>{{ user.PhoneNumber }}</td>
                    <td>{{ user.Email }}</td>
                    <td class="actions">
                        <fa-icon [icon]="faEye" [fixedWidth]="true"></fa-icon>
                        <fa-icon [icon]="faUserEdit" [fixedWidth]="true" class="mid-icon" (click)="updateUser(user.Id)">
                        </fa-icon>
                        <fa-icon [icon]="faTrashAlt" [fixedWidth]="true" class="last-icon"
                            (click)="deleteUser(user.Id)"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <pagination-controls class="pagination-controls" (pageChange)="pageNumber = $event" [autoHide]="true">
        </pagination-controls>
        <br>
        <span class="empty-search" *ngIf="(users | filterBy:userFilter).length === 0">No school matches your search!
            <br> Did you type the right <b>name</b> ???</span>
    </div>

</div>