.main-content {
    padding: 50px 5%;
}

.messages-container {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 5%;
}

.message-details {
    height: 380px;
    padding: 30px 40px;
    margin-bottom: 80px;
    color: #575757;
}
.message-details .date {
    font-size: 1.2rem;
    font-weight: 500;
    color: #979797;
}
.message-details .delete-icon {
    float: right;
    font-size: 1.3rem;
    font-weight: 400;
    color: #F2395A;
    cursor: pointer;
}
.message-details .contact-name {
    font-weight: 700;
}
.message-details .phone {
    font-size: 1.2rem;
    font-weight: 500;
}
.message-details .truncated-message {
    font-size: 1.2rem;
    font-weight: 500;
}
.message-details .btn-save {
    width: 45% !important;
    height: 70px;
    letter-spacing: 2px;
    font-size: 1.4rem !important;
    background-color: #9e4f8f !important;
}
.message-details .btn-save:hover {
    background-color: #7a386e !important;
}
