<div class="main-content">

    <div class="main-form-container">

        <h3 class="header shadow-sm">Course Form</h3>
        <div class="form-container shadow-lg">
            <form [formGroup]="form" (ngSubmit)="createOrUpdateCourse()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control form-control-lg" id="name" formControlName="Name">
                </div>
                <div class="form-group">
                    <label for="programme">Programme</label>
                    <select name="programme" id="programme" class="form-control form-control-lg" formControlName="ProgrammeId">
                        <option [ngValue]="programme?.Id" *ngFor="let programme of programmes">{{ programme.Name }}</option>
                    </select>
                </div>
                <br>
                <div>
                    <button (click)="cancel()" class="btn btn-cancel">Cancel</button>
                    <button type="submit" class="btn btn-save">Save</button>
                </div>

            </form>
        </div>

    </div>

</div>