<ion-content>

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
       <h4><b> TOTAL</b></h4>
       <h4>78</h4>
      </ion-col>
      <ion-col>
        <h4><b>AVR</b></h4>
        <h4>2.3</h4>
      </ion-col>
      <ion-col>
        <h4><b>DONE</b></h4>
        <h4>52</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="" style="margin-left:16px"><h6>RECENT</h6></div>
 

  <ion-card>
    <ion-card-header>
      <ion-card-title>Computer Architecture</ion-card-title>
      <ion-card-subtitle>Past Questions / 2016</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <br>
      <ion-progress-bar style="margin-top: 20px;" value="0.5" color="secondary"></ion-progress-bar>
    </ion-card-content>
    <!-- <ion-progress-bar value="0.5"></ion-progress-bar> -->
  </ion-card>

</ion-content>
