<div class="main-content">

    <table class="table">
        <thead>
            <th>
                <input type="text" size="45" class="search-by" placeholder="Filter by title"
                    [(ngModel)]="examFilter.Title">
            </th>
            <th>
                <input type="text" size="50" class="search-by" placeholder="Filter by course"
                    [(ngModel)]="examFilter.Course.Name">
            </th>
            <th>
                <input type="text" size="37" class="search-by" placeholder="year-month" [(ngModel)]="examFilter.Year">
            </th>
        </thead>
    </table>
    <br>
    <br>
    <br>
    <br>

    <span class="exams-container shadow-lg" *ngFor="let exam of exams | filterBy: examFilter">
        <!-- <div class="hexagon"><span></span></div> -->

        <p class="title">
            {{exam.Year | date}} - {{exam.Title}}
        </p>
        <br>
        <h2 class="course-name"> {{exam.Course?.Name}} </h2>
        <br>
        <div class="progress" style="height: 10px; width: 90%;">
            <div class="progress-bar bg-success" role="progressbar"
                [style.width.%]="(getProgressCounter(exam.Id)/exam.numOfQuestions)*100"></div>
        </div>
        <br>
        <p class="progress-description" *ngIf="getProgressCounter(exam.Id) === 0">You haven't started this exam yet.</p>
        <p class="progress-description" *ngIf="getProgressCounter(exam.Id) > 0">
            You have solved {{ getProgressCounter(exam.Id) }}/{{exam.numOfQuestions}} questions
        </p>
        <br>
        <button class="btn btn-save" (click)="practice(exam.Id, 'start')" *ngIf="getProgressCounter(exam.Id) === 0">
            START
        </button>
        <button class="btn btn-save" (click)="practice(exam.Id)"
            *ngIf="getProgressCounter(exam.Id) > 0 && exam.numOfQuestions > getProgressCounter(exam.Id)">
            RESUME
        </button>
        <button class="btn btn-save" (click)="practice(exam.Id)"
            *ngIf="getProgressCounter(exam.Id) === exam.numOfQuestions && exam.numOfQuestions > 0">
            RETAKE
        </button>
    </span>

</div>