.section-header {
    color: #575153;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 3em;
    font-weight: 700;
}

.section-1 {
    height: 950px;
    padding: 100px 5em;
}
.section-1 span {
    display: inline-block;
    height: 660px;
    width: 49.99%;
    border: 1px solid #999597;
    border-top: transparent;
    border-bottom: transparent;
}
.section-1 .span1 {
    border-left: transparent;
}
.section-1 .span2 {
    float: right;
    border-right: transparent;
}



.form-container {
    width: 95%;
    padding-top: 0;
    border: transparent;
}
.form-group {
    margin-bottom: 30px;
}
.form-group input {
    font-weight: 500;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    padding-left: 0;
}