<div class="main-content">

    <div class="main-form-container">
        <button class="btn back-btn shadow-sm" (click)="back()">
            <fa-icon [icon]="faChevronLeft" [fixedWidth]="true"></fa-icon>BACK
        </button>

        <h3 class="header shadow-sm">Question Form</h3>
        <div class="form-container shadow-lg">
            <form [formGroup]="formGroup" (ngSubmit)="createOrUpdate()">
                <div class="form-group">
                    <label for="exam">Exam</label>
                    <select name="exam" id="exam" class="form-control form-control-lg" formControlName="ExamId">
                        <option [ngValue]="examId" [selected]="examTitle">{{ examTitle }}</option>
                        <option [ngValue]="exam?.Id" *ngFor="let exam of exams">{{ exam.Title }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question">Question</label>
                    <textarea name="question" id="question" cols="30" rows="2"
                        class="form-control form-control-lg question" formControlName="QuestionText"
                        placeholder="Type the question here..."></textarea>
                </div>
                <div class="form-group">
                    <label for="answer1">Answer1</label>
                    <input type="text" class="form-control form-control-lg" id="answer1" formControlName="Answer1">
                </div>
                <div class="form-group">
                    <label for="answer2">Answer2</label>
                    <input type="text" class="form-control form-control-lg" id="answer2" formControlName="Answer2">
                </div>
                <div class="form-group">
                    <label for="answer3">Answer3</label>
                    <input type="text" class="form-control form-control-lg" id="answer3" formControlName="Answer3">
                </div>
                <div class="form-group">
                    <label for="answer4">Answer4</label>
                    <input type="text" class="form-control form-control-lg" id="answer4" formControlName="Answer4">
                </div>
                <div class="form-group">
                    <label for="answer5">Answer5</label>
                    <input type="text" class="form-control form-control-lg" id="answer5" formControlName="Answer5">
                </div>
                <div class="form-group">
                    <label for="answer6">Answer6</label>
                    <input type="text" class="form-control form-control-lg" id="answer6" formControlName="Answer6">
                </div>
                <div class="form-group">
                    <label for="correct-answer">Correct Answer</label>
                    <input type="text" class="form-control form-control-lg" id="correct-answer"
                        formControlName="CorrectAnswer">
                </div>
                <br>
                <div>
                    <button (click)="cancel()" class="btn btn-cancel">Cancel</button>
                    <button type="submit" class="btn btn-save">Save</button>
                </div>

            </form>
        </div>

    </div>

</div>