<div class="main-content">

    <div class="main-table-container">

        <div class="my-table-container shadow-sm">
            <div>
                <h3 class="table-title">SCHOOLS</h3>
                <span class="create-new shadow-sm" (click)="createSchool()">Create New</span>
            </div>
            <br>
            <br>
            <table class="table">
                <thead class="thead-light">
                    <th></th>
                    <th>
                        <input type="text" size="50" class="search-by" placeholder="Filter by name"
                            [(ngModel)]="schoolFilter.Name">
                    </th>
                    <th>
                        <input type="text" size="30" class="search-by" placeholder="Filter by location"
                            [(ngModel)]="schoolFilter.Location">
                    </th>
                    <th></th>
                    <th></th>
                </thead>
                <thead class="my-thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" width="550px">Name</th>
                        <th scope="col" width="350px">Location</th>
                        <th scope="col" style="text-align: center;">No. of Users</th>
                        <th scope="col" class="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let school of schools | filterBy: schoolFilter | paginate: {itemsPerPage: 10, currentPage: pageNumber} let i=index;">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ school.Name }}</td>
                        <td>{{ school.Location }}</td>
                        <td style="text-align: center;">{{ school.NumberOfUsers }}</td>
                        <td class="actions">
                            <fa-icon [icon]="faEye" [fixedWidth]="true"></fa-icon>
                            <fa-icon [icon]="faEdit" [fixedWidth]="true" class="mid-icon"
                                (click)="updateSchool(school.Id)"></fa-icon>
                            <fa-icon [icon]="faTrashAlt" [fixedWidth]="true" class="last-icon"
                                (click)="deleteSchool(school.Id)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <pagination-controls class="pagination-controls" (pageChange)="pageNumber = $event" [autoHide]="true">
            </pagination-controls>
            <br>
            <span class="empty-search" *ngIf="(schools | filterBy:schoolFilter).length === 0">No school matches your
                search! <br> Did you type the right <b>name</b> or <b>location</b>???</span>
        </div>

    </div>


</div>