<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-label>
        Rayray is inviting you. Join?
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Rayray now follows you.
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
    
    <ion-item>
      <p>Gabriel is now following you. Send him a message.</p>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
    
    <ion-item>
        <p>Boletheshark7 is inviting you to for group learning. Join?</p>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
    
    <ion-item>
      <p>Rayray is inviting you to for group learning. Join?</p>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
    
    <ion-item>
      <p>
        Seneca, Aristotle and Camelot are about to start a game. Would you like to participate?
      </p>
      <ion-avatar slot="start">
        <ion-icon name="game-controller"></ion-icon>
      </ion-avatar>
    </ion-item>
    
    <ion-item>
      <p>
        Camelot sent you a message "Let's meet up in school today".
      </p>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
      <ion-card-subtitle>15 hours ago</ion-card-subtitle>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Rayray is inviting you to for group learning. Join?
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Rayray is inviting you to for group learning. Join?
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Rayray is inviting you to for group learning. Join?
      </ion-label>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/2121122/pexels-photo-2121122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      </ion-avatar>
    </ion-item>
  </ion-list>


</ion-content>
