<div class="main-content">

    <div class="main-form-container">

        <h3 class="header shadow-sm">Exam Form</h3>
        <div class="form-container shadow-lg">
            <form [formGroup]="formGroup" (ngSubmit)="createOrUpdate()">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control form-control-lg" id="title" formControlName="Title">
                </div>
                <div class="form-group">
                    <label for="school">School</label>
                    <select name="school" id="school" class="form-control form-control-lg" formControlName="SchoolId">
                        <option [ngValue]="school?.Id" *ngFor="let school of schools">{{ school.Name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="programme">Programme</label>
                    <select name="programme" id="programme" class="form-control form-control-lg"
                        formControlName="ProgrammeId">
                        <option [ngValue]="programme?.Id" *ngFor="let programme of programmes">{{ programme.Name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="course">Course</label>
                    <select name="course" id="course" class="form-control form-control-lg"
                        formControlName="CourseId">
                        <option [ngValue]="course?.Id" *ngFor="let course of courses">{{ course.Name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="date" class="form-control form-control-lg" id="year" formControlName="Year">
                </div>
                <br>
                <div>
                    <button (click)="cancel()" class="btn btn-cancel">Cancel</button>
                    <button type="submit" class="btn btn-save">Save</button>
                </div>

            </form>
        </div>

    </div>

</div>