<div class="main-content">

        <div class="main-form-container">
    
            <h3 class="header shadow-sm">Programme Form</h3>
            <div class="form-container shadow-lg">
                <form [formGroup]="form" (ngSubmit)="createOrUpdateProgramme()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control form-control-lg" id="name" formControlName="Name">
                    </div>
                    <div class="form-group">
                        <label for="school">School</label>
                        <select name="school" id="school" class="form-control form-control-lg" formControlName="SchoolId">
                            <option [ngValue]="school?.Id" *ngFor="let school of schools">{{ school.Name }}</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <button (click)="cancel()" class="btn btn-cancel">Cancel</button>
                        <button type="submit" class="btn btn-save">Save</button>
                    </div>
    
                </form>
            </div>
    
        </div>
    
    </div>