<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
  <ion-title>Flash Quiz</ion-title>
  </ion-toolbar>
</ion-header>
<div style="padding: 16px">
  <p>Solving questions may be more fun than you think.</p>
</div>

<div class="horizontal-container">
  
  <div>
    <ion-card>
      <!-- <img src="https://images.pexels.com/photos/301943/pexels-photo-301943.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image"> -->
      <ion-card-header>
        <ion-card-subtitle>Speed Test</ion-card-subtitle>
        <ion-card-title>BrainRocket</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Think you're faster than 3 seconds?
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Difficult</ion-card-subtitle>
        <ion-card-title>Sharkor</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       For those who make learning seem so easy.
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Beginner</ion-card-subtitle>
        <ion-card-title>Freestyle</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       No rush, no sweat. Solve it at your own pace.
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Moderate / Online</ion-card-subtitle>
        <ion-card-title>Anything Goes</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Ask and answer questions with friends. No rules, any topic. Well, there is one rule: Don't fail.
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Moderate</ion-card-subtitle>
        <ion-card-title>Pens, Papers, Pencils </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        The Ultimate Exam Chanpionship
      </ion-card-content>
    </ion-card>
  </div>

</div>
<ion-content>


</ion-content>
